/* AboutUs.css */

.about-us-container {
    text-align: center; /* Center text */
  }
  
  .content-container {
    margin: 'auto';
    display: flex; /* Use flexbox to align items */
    justify-content: center; /* Align items horizontally in the center */
    align-items: center; /* Align items vertically in the center */
  }
  
  .video-container {
    flex: 0.5; /* Take up 50% of the container */
    margin-right: 20px; /* Adjust margin between video and tabs */
  }
  
  .tabs-container {
    display: flex;
    flex-direction: column;
  }
  
  .tabs-container input[type="radio"] {
    display: none; /* Hide the default radio buttons */
  }
  
  .tabs-container label {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-bottom: none; /* Remove bottom border for the active tab */
  }
  
  .tabs-container input[type="radio"]:checked + label {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0; /* Add bottom border for the active tab */
  }
  
  .tab-content {
    padding: 20px;
    border: 1px solid #ccc;
  }
  