/* AboutUs.css */

.about-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content-container {
    width: 70%; /* Adjusted width for better display */
    display: flex; /* Use flexbox to align items */
    justify-content: space-between; /* Distribute space between items */
    align-items: flex-start; /* Align items vertically at the top */
    flex-direction: row; /* Arrange video and tabs side by side */
  gap: 20px; /* Add gap between the video and tabs */
  }
  
  .video-container {
    flex: 1; /* Take up 50% of the container */
    margin-right: 20px; /* Adjust margin between video and tabs */
  }

  .tabs-wrapper {
    width: 50%; /* Make the tabs take up full width */
  }
  
  .MuiTab-root {
    font-weight: bold; /* Make tab labels bold */
  }
  
  .MuiTabPanel-root {
    text-align: left; /* Align tab content to the left */
    margin: 0px; /* Add padding for tab content */
  }
  

  