/* BlogCard.css */
.blog-card-link {
  display: block; /* Ensure the anchor tag takes up the entire card space */
  text-decoration: none; /* Remove default underline */
}
.blog-card {
    width: 420px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s ease; 
  }

  .blog-card:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); /* Apply box shadow on hover */
  }
  
  .blog-card:active {
    transform: translateY(2px); /* Add slight downward shift on click */
  }
  
  
  .blog-cover {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
  }
  
  .blog-info {
    padding: 20px;
  }
  
  .blog-date {
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
    text-align: left;
  }
  
  .blog-title {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .blog-description {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .learn-more-link {
    display: inline-block;
    color: #3914be;
    text-decoration: none;
    font-size: 16px;
  }
  
  .learn-more-link:hover {
    background-color: #0056b3;
  }
  