.clients {
    padding: 50px 0;
  }
  
  .clients h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .client-logos-wrapper {
    overflow: hidden;
  }
  
  .client-logos {
    display: flex;
    animation: scrollAnimation 10s linear infinite;
  }
  
  .client-logos:hover {
    animation-play-state: paused;
  }

  .client-logos img {
    width: auto; /* Adjust as needed */
    height: 100px;
    margin-right: 60px; /* Adjust spacing between logos */
    gap: 100px;
  }
  
  @keyframes scrollAnimation {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  