ContactForm.css
.contact-header {
    text-align: center; /* Center-align the content */
    margin-bottom: 20px; /* Add some space below the container */
  }
  
  .contact-header h2 {
    margin-bottom: 10px; /* Add space below the heading */
  }
  
  .contact-header p {
    margin-bottom: 20px; /* Add space below the description */
  }

.contact-form-container {
    border-radius: 16px;
    box-shadow: 0 -3px 60px rgba(0, 0, 0, 0.08);
    padding: 40px;
    background-color: #fff;
    max-width: 600px;
    margin: 10px auto;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .MuiTextField-root {
    width: 100%;
  }
  
  .MuiButton-root {
    width: 150px;
    margin-top: 20px;
  }
  