.gallery {
    display: flex;
    padding: 60px 15px;
    gap: 40px;
  }
  
  .gallery-left {
    flex: 1;
  }
  
  .gallery-right {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .gallery-image {
    flex: calc(50% - 10px); /* 50% width with 10px gap */
  }
  
  .gallery-image img {
    width: 50%;
    height: auto;
  }
  
  /* Adjustments for smaller screens */
  @media screen and (max-width: 768px) {
    .gallery-right {
      flex-direction: column; /* Change flex direction to column */
    }
  
    .gallery-image {
      flex: 100%; /* Full width for smaller screens */
    }
  }
  