.gallery {
    display: flex;
    justify-content: center;
    padding: 8px 15px;
    gap: 15px;
  }
  
  
  /* .gallery-left {
    flex: .1;
  } */
  
  .gallery-right {
    flex: 1;
    height: 15%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 15px;

  }

   .gallery-right2 {
    width: 10%;
    height: auto;
  }

  .gallery-left2 {
    /* flex: 1; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 15px;

  }
  .gallery-right img {
  width: 100%;
  height: 50%;
  object-fit: cover; /* Ensures images are cropped to fill their containers */
}
  
  .gallery-image {
    flex: calc(50% - 5px); /* 50% width with 10px gap */
  }
  
  .gallery-image img {
    width: 100%;
    height: 50%;
  }
  
  /* Adjustments for smaller screens */
  @media screen and (max-width: 768px) {
    .gallery-right {
      flex-direction: column; /* Change flex direction to column */
    }
  
    .gallery-image {
      flex: 100%; /* Full width for smaller screens */
    }
  }
  