.meet-our-team {
  max-width: 1073px;
  max-height: 100%;
  display: flex;
  padding: 100px 15px;
  gap: 40px;
  margin: auto;
}

.team-left {
  display: flex;
  align-items: center;
  width: 50%; /* Adjust as needed */
  gap: 20px;
  position: relative;
}

.team-left img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.rightimages {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  gap: 20px;
}

.image-text1 {
  position: absolute;
  bottom: 8%;
  max-width: 47.5%;
  background-color: rgba(13, 164, 162, 1); /* Green background with some opacity */
  color: white;
  text-align: center;
  padding: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.image-text2 {
  position: absolute;
  bottom: 49%;
  max-width: 47.5%;
  background-color: rgba(13, 164, 162, 1); /* Green background with some opacity */
  color: white;
  text-align: center;
  padding: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.image-text3 {
  position: absolute;
  bottom: 0%;
  width: 39.5%;
  background-color: rgba(13, 164, 162, 1); /* Green background with some opacity */
  color: white;
  text-align: center;
  padding: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.team-right {
  flex: 1; /* Take remaining space */
  display: flex;
  flex-direction: column;
}

.team-right h2 {
  text-align: left;
}

.team-description {
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: left;
}

.team-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.team-subsection h4 {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.team-subsection p {
  margin: 0;
  color: #8C8C8C;
  text-align: left;
  max-width: 100%;
}
